:root {
  --green: #163313;
  --lavender: #cdb8ff;
  --cream: #fcf4e8;
  --sage: #d4f9cd;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf")
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--lavender);
  overflow-x: hidden;
}

/* button {
  background-color: transparent
} */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header-container {
  color: var(--green);
  background-color: var(--cream);
  width: 100%;
  padding: 2rem;
  position: relative;
  z-index: 2;
  margin-bottom: -1px;

}

h1 {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: 400;
}

#booking-modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
}

#exit-booking-modal-btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  border-width: 0;
  background-color: var(--lavender);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .25s;

  &:hover {
    background-color: var(--cream);
    font-size: 1.8rem;
  }
}

#submit-booking-modal-btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  color: var(--cream);
  background-color: var(--green);
  align-self: center;
  font-family: Ubuntu;
  margin-top: 0.5rem;
  transition: all .25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--lavender);
    font-size: 1.6rem;
  }
}

#submit-booking-modal-btn-safari {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  color: var(--cream);
  background-color: var(--green);
  align-self: center;
  font-family: Ubuntu;
  margin-top: 0.5rem;
  transition: all .25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--lavender);
  }
}


#finish-booking-modal-btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  color: var(--cream);
  background-color: var(--green);
  align-self: center;
  font-family: Ubuntu;
  margin-top: 0.5rem;
  transition: all .25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--lavender);
    font-size: 1.6rem;
  }
}

#finish-booking-modal-btn-safari {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  color: var(--cream);
  background-color: var(--green);
  align-self: center;
  font-family: Ubuntu;
  margin-top: 0.5rem;
  transition: all .25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--lavender);
  }
}

#booking-modal {
  background-color: var(--lavender);
  width: 40rem;
  height: 40rem;
  border-radius: 2rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#thank-you {
  background-color: var(--lavender);
  width: 40rem;
  height: 40rem;
  border-radius: 2rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-family: Ubuntu;
}

#incomplete-message {
  margin-bottom: .5rem;
}

#mct-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap:  wrap;

}

#header-icon {
  height: 4em;
  width: 4rem;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-wrap:  wrap;
  margin-right: 4rem;

}

#ig-icon {
  display: flex;
  font-size: 2.7rem;
  margin-right: 2rem;
  transition: all .25s;

  &:hover {
    color: var(--lavender);
    font-size: 3rem;
  }

  &:active {
    margin-right: 1.7rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
}

#mail-icon {
  font-size: 2.7rem;
  margin-right: 2rem;
  transition: all .25s;

  &:hover {
    color: var(--lavender);
    font-size: 3rem;
  };

  &:active {
    margin-right: 1.7rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  };
}

#connect-btn {
  border: solid;
  border-width: 3px;
  padding: 0.3em;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-family: Ubuntu;
  border-radius: 1rem;
  transition: all .25s;

  &:hover {
    border-color: var(--lavender);
    color: var(--lavender);
    font-size: 1.6rem;
  }

  &:active {
    margin-right: -0.3rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
}

#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu-btn-closed {
  position: fixed;
  z-index: 2;
  right: 1.3rem;
  background-color: var(--cream);
  border-radius: 1rem;
  padding: 0.5rem;
  transition: all .25s;
  width: 4rem;
  height: 4rem;

  &:hover {
    color: var(--lavender);
  }
}

#menu-btn-open {
  position: fixed;
  z-index: 2;
  right: 1.3rem;
  background-color: var(--cream);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.5rem;
  transition: all .25s;
  width: 4rem;
  height: 4rem;

  &:hover {
    color: var(--lavender);
  }
}

#book-btn-corner {
  position: fixed;
  z-index: 2;
  right: 1.3rem;
  bottom: 2rem;
  background-color: var(--lavender);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: all .25s;

  &:hover {
    background-color: var(--sage);
  }
}

#book-btn-corner-logo {
  padding: .5rem;
  height: 4rem;
  transition: all .25s;

  &:hover {
    padding: 0;
    height: 4.01rem;
  }
}

#menu {
  position: fixed;
  top: 6rem;
  right: 0rem;
  background-color: var(--cream);
  font-family: Ubuntu;
  padding: .7rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  z-index: 2;
}

.menu-row {
  width: 19rem;
  transition: all .25s;
  height: 2rem;
  cursor: pointer;
  margin-top: .5rem;

  &:hover {
    color: var(--lavender);
    font-size: 1.6rem;
  }
}

.menu-row-safari {
  width: 19rem;
  transition: all .25s;
  height: 2rem;
  cursor: pointer;
  margin-top: .5rem;

  &:hover {
    color: var(--lavender);
  }
}

#hero-row-container {
  height: 40rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#hero-container {
  display: flex;
  flex-direction: row;
}

#hero-img-container {
  display: flex;
  position: relative;
  z-index: 1;
}

#hero-caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-right: 4rem;
}

#hero-line-1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#hero-line-2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.squiggle {
  height: 5rem;
}

#hero {
  z-index: 1;
}

.blobs {
  position: absolute;
  height: 90rem;
  left: 24rem;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.book-btn {
  text-align: center;

  border: solid;
  border-width: 3px;
  border-radius: 1rem;
  transition: all .25s;
  padding: 0.3em;
  font-weight: bold;
  position: relative;
  z-index: 2;

  &:hover {
    cursor: pointer;
    font-size: 1.6rem;
  }
}

.book-btn-safari {
  font-family: Ubuntu;
  text-align: center;
  border: solid;
  border-width: 3px;
  border-radius: 1rem;
  transition: all .25s;
  padding: 0.3em;
  font-weight: 500;
  position: relative;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}

#headshot-row-container {
  align-items: center;
  padding-top: 6rem;
  background: var(--lavender);
  padding-top: 6rem;
}

#approach-row-container {
  align-items: center;
  padding-top: 6rem;
  background: var(--lavender);
  padding-top: 6rem;
  position: relative;
  margin-top: -1px;
}

#whoisee2-row-container {
  align-items: center;
  padding-top: 6rem;
  background: var(--cream);
  padding-top: 6rem;
  position: relative;
  margin-top: -1px;
}

#thicc-line {
  margin-top: 6rem;
  height: 14px;
  background-color: var(--cream);
  width: 100%;
  border-width: 0;
}

#headshot-container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  align-items: flex-end;
  border-right-color: var(--cream);
  border-right-width: 2px;
  border-right-style: solid;
}

#kyoto-container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  align-items: flex-end;
  border-right-color: var(--green);
  border-right-width: 2px;
  border-right-style: solid;
}

#headshot-caption-container {
  width: 45%;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#approach-caption-container {
  width: 55%;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#whoisee2-caption-container {
  width: 55%;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-row-container {
  align-items: center;
  background-color: var(--lavender);
  height: 50rem;
}

.about-caption {
  margin-left: 2rem;
  margin-top: .5em;
  margin-bottom: .5em;
}

#about-container {
  padding-bottom: 4rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  border-right-color: var(--cream);
  border-right-width: 2px;
  border-right-style: solid;
}

#about-you-row-container {
  position: relative;
  margin-bottom: -1px;
}

#about-you-container {
  width: 60%;
}

.social-proof-row-container {
  position: relative;
  text-align: center;
  height: 34rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: -1px;
  margin-top: -1px;
}

.social-proof-next-btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  border-width: 0;
  /* background-color: var(--lavender); */
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: all .25s;
  /* margin-left: 4rem;
  margin-right: 4rem; */
  position: relative;

  background-color: var(--cream);

  &:hover {
    background-color: var(--lavender);
    font-size: 1.8rem;
  }
}


/* .social-proof {
  position: relative;
  text-align: center;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: -1px;
  margin-top: -1px;
} */

#snowshoe-container {
  width: 45%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.headshot-caption {
  margin-left: 4rem;
  margin-top: .5em;
  margin-bottom: .5em;
}

.FAQ {
  margin-left: 2rem;
  margin-right: 2rem
}

#headshot {
  width: 80%;
  height: auto;
  border-radius: 1rem;
}

#about-pic {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-left: 4rem;
}

.more-about-row-container {
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}

.more-about {
  width: 65%;
}

.certification-row-container {
  background-color: var(--lavender);
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#certification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

#certification-title {
  width: 100%;
  text-align: left;
}

#faq-row-container {
  margin-top: -1px;
}

#faq-column {
  display: flex;
  flex-direction: column;
}

.faq-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#q-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 4rem;
  padding-left: 10rem;
  border-right-color: var(--cream);
  border-right-width: 2px;
  border-right-style: solid;
}

#a-container {
  width: 45%;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#footer-container {
  position: relative;
  background-color: var(--lavender);
  height: 8rem;
  align-items: center;
}

#footer-logo {
  width: auto;
  height: 4rem;
  /* position: relative; */
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 75%
}

label {
  font-size: 1.5rem;
  font-family: Ubuntu;
  margin-bottom: 0.3rem;
}

input {
  background-color: var(--cream);
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: .5rem;
  padding-left: 1rem;
  font-family: Ubuntu;
  transition: all .25s;

  &:focus {
    background-color: var(--sage);
    outline: none;
  }
}

textarea {
  background-color: var(--cream);
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: .5rem;
  padding-left: 1rem;
  font-family: Ubuntu;
  resize: none;

  &:focus {
    background-color: var(--sage);
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box; 
}

.paragraph {
  font-size: 1.5rem;
  font-family: Ubuntu;
}

.active-sage {
  &:active {
    color: var(--sage)
  }
}

.active-lavender {
  &:active {
    color: var(--lavender)
  }
}

/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} */

/* @media (min-width: 1700px) {
  .blobs {
    left: 16rem;
  }
} */

@media (max-width: 1440px) {
  #about-row-container {
    height: 55rem
  }
}

@media (max-width: 1280px) {
  #hero-row-container {
    height: 35rem;
  }

  #hero {
    height: 35rem;
  }

  .blobs {
    left: 6rem;
  }

  .social-proof-row-container {
    height: 36rem;
  }

  #certification-container {
    width: 50%;
  }

  #about-row-container {
    height: 60rem
  }
  
}

@media (max-width: 1024px) {
  #hero-row-container {
    height: 30rem;
    margin-right: 0;
  }

  #hero {
    height: 30rem;
  }

  .blobs {
    left: 3rem;
  }

  #hero-caption-container {
    margin-right: 0;
  }

  .social-proof-row-container {
    height: 40rem;
  }

  #about-row-container {
    height: 65rem;
  }

  #certification-container {
    width: 60%;
  }

  #q-container {
    width: 50%;
    padding-left: 2rem;
  }
  
  #a-container {
    width: 50%;
    padding-right: 2rem;
  }
}

@media (max-width: 876px) {
  #header-icon {
    align-self: center;
  }  

  #menu {
    top: 7rem;
  }

  .social-proof-row-container {
    height: 44rem;
  }

  #certification-container {
    width: 80%;
    padding-left: 2rem
  }

  #about-row-container {
    height: 70rem;
  }

}

@media (max-width: 800px) {
  body {
    min-width: 750px;
    overflow-x: hidden;
  }

  #header-icon {
    align-self: center
  }  

  .blobs {
    height: 60rem;
    left: 10rem;
  }

  #hero-container {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  #hero-line-1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  #hero-line-2 {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

  #about-you-container {
    width: 90%;
  }
  
  #headshot-container {
    width: 50%;
    padding-right: 1rem;
  }

  #headshot {
    width: 100%;
  }
  
  #headshot-caption-container {
    padding-right: 1rem;
  }

  .headshot-caption {
    margin-left: 1rem;
  }

  .social-proof {
    height: 44rem;
  }

  #about-pic {
    margin-right: 2.5rem;
  }  

  #about-container {
    padding-right: 1rem;
    width: 50%;
  }

  .about-caption {
    margin-left: 1rem;
  }

  .more-about {
    width: 80%;
  }

  #certification-container {
    width: 90%;
  }  
}

.flex-h-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.margin-t-l {
  margin-top: 6rem;
}

.margin-b-l {
  margin-bottom: 6rem;
}

.margin-t-s {
  margin-top: 2rem;
}

.margin-b-s {
  margin-bottom: 2rem;
}

.padding-t-l {
  padding-top: 6rem;
}

.padding-b-l {
  padding-bottom: 6rem;
}

.padding-b-xl {
  padding-bottom: 8rem;
}

.padding-t-s {
  padding-top: 2rem;
}

.padding-b-s {
  padding-bottom: 2rem;
}

.green {
  color: var(--green);
}

.lavender {
  color: var(--lavender);
}

.cream {
  color: var(--cream);
}

.sage {
  color: var(--sage);
}

.bg-lavender {
  background-color: var(--lavender);
}

.bg-cream {
  background-color: var(--cream)
}

.hover-lavender {
  &:hover {
    color: var(--lavender)
  }
}

.hover-sage {
  &:hover {
    color: var(--sage)
  }
}

.bold {
  font-weight: bold;
}

.fade-in {
  transition: opacity .5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity .5s ease;
}

.custom-shape-divider-bottom-1723591800 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723591800 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-bottom-1723591800 .shape-fill {
  fill: #CDB8FF;
}

.custom-shape-divider-top-1723594478 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1723594478 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-top-1723594478 .shape-fill {
  fill: #CDB8FF;
}

.custom-shape-divider-bottom-1723600737 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723600737 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 117px;
}

.custom-shape-divider-bottom-1723600737 .shape-fill {
  fill: #CDB8FF;
}

.custom-shape-divider-top-1723601961 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723601961 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
}

.custom-shape-divider-top-1723601961 .shape-fill {
  fill: #CDB8FF;
}

.custom-shape-divider-bottom-1723602386 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723602386 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
}

.custom-shape-divider-bottom-1723602386 .shape-fill {
  fill: #CDB8FF;
}

.custom-shape-divider-top-1723602445 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723602445 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
}

.custom-shape-divider-top-1723602445 .shape-fill {
  fill: #CDB8FF;
}

.custom-shape-divider-top-1723787578 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723787578 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 111px;
}

.custom-shape-divider-top-1723787578 .shape-fill {
  fill: #FCF4E8;
}

.custom-shape-divider-bottom-1723788039 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1723788039 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.custom-shape-divider-bottom-1723788039 .shape-fill {
  fill: #FCF4E8;
}

.custom-shape-divider-top-1723864175 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1723864175 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 93px;
}

.custom-shape-divider-top-1723864175 .shape-fill {
  fill: #FCF4E8;
}

.custom-shape-divider-bottom-1723864937 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1723864937 svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1723864937 .shape-fill {
  fill: #FCF4E8;
}

.custom-shape-divider-top-1723871019 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1723871019 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 123px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1723871019 .shape-fill {
  fill: #FCF4E8;
}

.custom-shape-divider-bottom-1723872961 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723872961 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1723872961 .shape-fill {
  fill: #FCF4E8;
}