:root {
  --green: #163313;
  --lavender: #cdb8ff;
  --cream: #fcf4e8;
  --sage: #d4f9cd;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf")
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--green);
}

.header-container {
  border-radius: 1rem;
  color: var(--green);
  background-color: var(--cream);
  width: 100%;
  padding: 2rem;
}

h1 {
  font-family: Ubuntu;
  text-align: center;
  width: 50%;
  font-size: 2rem;
  font-weight: 400;
}

#booking-modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#exit-booking-modal-btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  border-width: 0;
  background-color: var(--lavender);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .25s;

  &:hover {
    background-color: var(--cream);
    font-size: 1.8rem;
  }
}

#submit-booking-modal-btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  color: var(--cream);
  background-color: var(--green);
  align-self: center;
  font-family: Ubuntu;
  margin-top: 0.5rem;
  transition: all .25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--lavender);
    font-size: 1.6rem;
  }
}


#finish-booking-modal-btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  color: var(--cream);
  background-color: var(--green);
  align-self: center;
  font-family: Ubuntu;
  margin-top: 0.5rem;
  transition: all .25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--lavender);
    font-size: 1.6rem;
  }
}

#booking-modal {
  background-color: var(--lavender);
  width: 40rem;
  height: 40rem;
  border-radius: 2rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#thank-you {
  background-color: var(--lavender);
  width: 40rem;
  height: 40rem;
  border-radius: 2rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-family: Ubuntu;
}

#incomplete-message {
  margin-bottom: .5rem;
}

#mct-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#header-icon {
  height: 4em;
  margin-right: 1em;
}

.signature-logo {
  height: 2em;
}

#contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#ig-icon {
  display: flex;
  font-size: 2.7rem;
  margin-right: 2rem;
  transition: all .25s;

  &:hover {
    color: var(--lavender);
    font-size: 3rem;
  }

  &:active {
    margin-right: 1.7rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
}

#mail-icon {
  font-size: 2.7rem;
  margin-right: 2rem;
  transition: all .25s;

  &:hover {
    color: var(--lavender);
    font-size: 3rem;
  };

  &:active {
    margin-right: 1.7rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  };
}

#connect-btn {
  border: solid;
  border-width: 3px;
  padding: 0.3em;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-family: Ubuntu;
  border-radius: 1rem;
  transition: all .25s;
  margin-right: 4rem;

  &:hover {
    border-color: var(--lavender);
    color: var(--lavender);
    font-size: 1.6rem;
  }

  &:active {
    margin-right: 3.7rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
}

#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu-btn-closed {
  position: fixed;
  z-index: 1;
  right: 2.3rem;
  background-color: var(--cream);
  border-radius: 1rem;
  padding: 0.5rem;
  transition: all .25s;
  width: 4rem;
  height: 4rem;

  &:hover {
    color: var(--lavender);
  }
}

#menu-btn-open {
  position: fixed;
  z-index: 1;
  right: 2.3rem;
  background-color: var(--cream);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.5rem;
  transition: all .25s;
  width: 4rem;
  height: 4rem;

  &:hover {
    color: var(--lavender);
  }
}

#book-btn-corner {
  position: fixed;
  z-index: 1;
  right: 2.3rem;
  bottom: 3rem;
  background-color: var(--lavender);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: all .25s;

  &:hover {
    background-color: var(--sage);
  }
}

#book-btn-corner-logo {
  padding: .5rem;
  height: 4rem;
  transition: all .25s;

  &:hover {
    padding: 0;
    height: 4.01rem;
  }
}

#menu {
  position: fixed;
  top: 7rem;
  right: 1rem;
  background-color: var(--cream);
  font-family: Ubuntu;
  padding: .7rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  z-index: 1;
}

.menu-row {
  width: 19rem;
  transition: font-size .25s ease;
  -webkit-transition: all .25s ease;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: 2rem;
  cursor: pointer;
  margin-top: .5rem;

  &:hover {
    color: var(--lavender);
    font-size: 1.6rem;
  }
}

.book-btn {
  font-family: Ubuntu;
  text-align: center;
  border: solid;
  border-width: 3px;
  border-radius: 1rem;
  transition: all .25s;
  padding: 0.3em;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    color: var(--lavender);
    font-size: 1.6rem;
  }
}

#headshot-row-container {
  align-items: center;
  margin-top: 10rem;
}

#headshot-container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  align-items: flex-end;
  border-right-color: var(--cream);
  border-right-width: 2px;
  border-right-style: solid;
}

#headshot-caption-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#about-row-container {
  align-items: center;
}


.about-caption {
  margin-left: 2rem;
  margin-top: .5em;
  margin-bottom: .5em;
}

#about-container {
  padding-top: 4rem;
  padding-bottom: 4rem;

  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  border-right-color: var(--cream);
  border-right-width: 2px;
  border-right-style: solid;
}


#snowshoe-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headshot-caption {
  margin-left: 4rem;
  margin-top: .5em;
  margin-bottom: .5em;
}

.headshot-caption.visible {
  color: var(--cream)
}

.FAQ {
  margin-left: 2rem;
  margin-right: 2rem
}

#headshot {
  width: 80%;
  height: auto;
  border-radius: 1rem;
}

#about-pic {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.more-about {
  width: 65%;
}

#certification-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

#certification-title {
  width: 100%;
  text-align: left;
}

#faq-row-container {
  /* align-items: center; */
  /* height: 180rem; */

}

#faq-column {
  display: flex;
  flex-direction: column;
}

.faq-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#q-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 4rem;
  padding-left: 10rem;
  border-right-color: var(--cream);
  border-right-width: 2px;
  border-right-style: solid;
}

#a-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#footer-container {
  margin: 1rem;
  margin-top: 6rem;
  background-color: var(--cream);
  height: 8rem;
  border-radius: 1rem;
  align-items: center;
}

#footer-logo {
  height: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 75%
}

label {
  font-size: 1.5rem;
  font-family: Ubuntu;
  margin-bottom: 0.3rem;
}

input {
  background-color: var(--cream);
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: .5rem;
  padding-left: 1rem;
  font-family: Ubuntu;
  transition: all .25s;

  &:focus {
    background-color: var(--sage);
    outline: none;
  }
}


textarea {
  background-color: var(--cream);
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: .5rem;
  padding-left: 1rem;
  font-family: Ubuntu;
  resize: none;

  &:focus {
    background-color: var(--sage);
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box; 
}

@media only screen and (min-width: 600px) {
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 10em;
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 6em;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      width: 100%
  }

  #header-icon {
      height: 4em;
  }
  
  .signature-logo {
      height: 2em;
  }
}

.paragraph {
  font-size: 1.5rem;
  font-family: Ubuntu;
}
/* 
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */

.flex-h-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#motif-line-1 {
  width: 100%;
  text-align: left;
}

#motif-line-2 {
  width: 100%;
  text-align: center;
}

#motif-line-3 {
  width: 100%;
  text-align: right;
}

.margin-t-l {
  margin-top: 6rem;
}

.margin-b-l {
  margin-bottom: 6rem;
}

.margin-t-s {
  margin-top: 2rem;
}

.margin-b-s {
  margin-bottom: 2rem;
}

.green {
  color: var(--green);
}

.lavender {
  color: var(--lavender);
}

.cream {
  color: var(--cream);
}

.sage {
  color: var(--sage);
}